.navbar-links {
    display: flex;
    padding-left: 28px;
    height: 100%;
}

.navbar-links a:hover {
    border: none;
    text-decoration: none;
}

.navbar-link {
    display: flex;
    align-items: center;
    min-height: 56px;
    text-transform: uppercase;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4rem;
    margin: 0 1em 0 0;
    height: 100%;
    color: #d6e0e7;
    border-bottom: 2px solid transparent;
}

.navbar-link:hover {
    transition: 0.1s ease-out;
    opacity: 0.8;
    border-bottom: 2px solid rgba(214, 224, 231, 0.2);
}

.navbar-link_active > .navbar-link {
    color: #ff005b;
    border-bottom: 2px solid #ff005b;
}

.navbar-cart {
    background: #ff005b;
    border-radius: 4px;
    margin: 1em;
    padding: 0.24em 0.5em;
    position: relative;
    text-transform: uppercase;
    font-family: Space Mono;
    font-size: 0.8em;
    color: #d6e0e7;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
}

.navbar-cart:hover {
    text-decoration: none;
}

.navbar-logout {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    line-height: 2em;
    flex-direction: column;
    justify-content: stretch;
    font-family: Roboto;
    color: #ff005b;
    border: 1px solid #ff005b;
    border-radius: 4px;
    padding: 0 0.6rem;
    cursor: pointer;
}