.inventory-item {
    position: relative;
    transition: transform 350ms ease-out, opacity 150ms ease-out;
}

.inventory-item.initialFlow1 {
    opacity: 0;
    transform: translateY(20px) scale(1);
}

.inventory-item-card {
    color: #D6E0E7;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-width: 300px;
    height: 300px;
    margin: 16px;
    flex-shrink: 0;
    flex-grow: 1;
    flex-base: 50%;
    background: transparent;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 8px;
    padding: 8px;
}

.inventory-item-card:hover {
    box-shadow: 0 5px 12px 0px rgba(0,0,0,0.2);
}

.inventory-item-card-media {
    display: block;
    margin-top: 8px;
    min-height: 120px;
    flex-grow: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.inventory-item-card-content {
    min-height: 66px;
    overflow: hidden;
    flex-grow: 0;
    padding: 16px;
    padding-bottom: 0;
    margin-bottom: 8px;
}

.inventory-item-card-content-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 700;
}

.inventory-item-card-content-description {
    display: block;
    display: -webkit-box;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
}

.inventory-item-card-actions {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(68.808, 73.376, 86.135, 0.4);
    padding: 8px 0 0 0;
    margin: 0 16px 0 16px;
}

.inventory-item-card-actions-quantity {
    flex-grow: 1;
    font-size: 16px;
    font-weight: 600;
    color: #FF005B;
}